@model TimeAttendanceSystem.Models.Finalize

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Finalize</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VarianceSetting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VarianceSetting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendanceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendanceDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
